[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/puppy/Desktop/synaptic.desktop]
row=0
col=4

[/home/puppy/Desktop/PicDrop.desktop]
row=1
col=5

[/home/puppy/Desktop/Puppy Linux Discussion Forum __ View topic - Light-Debian-Core-Live-CD-Wheezy + Porteus-Wheezy.desktop]
row=1
col=7

[/home/puppy/Desktop/gnome-mplayer.desktop]
row=0
col=7

[/home/puppy/Desktop/mtpaint.desktop]
row=0
col=5

[/home/puppy/Desktop/Dog Control Center.desktop]
row=0
col=10

[/home/puppy/Desktop/SFSdrop.desktop]
row=1
col=4

[/home/puppy/Desktop/DebianDog-Installer.desktop]
row=0
col=9

[/home/puppy/Desktop/Remaster-porteus-wheezy.desktop]
row=0
col=6

[/home/puppy/Desktop/firefox.desktop]
row=1
col=3

[/home/puppy/Desktop/conkytoggle.desktop]
row=1
col=10

[/home/puppy/Desktop/leafpad.desktop]
row=1
col=6

[/home/puppy/Desktop/gtk-youtube-viewer.desktop]
row=1
col=9

[/home/puppy/Desktop/Create Savefile.desktop]
row=0
col=8

[/home/puppy/Desktop/DogRadio.desktop]
row=0
col=3

[/home/puppy/Desktop/exo-terminal-emulator.desktop]
row=1
col=8

[/]
row=1
col=0

[/home/puppy]
row=0
col=0

