[Desktop Entry]
Version=1.0
Type=Application
Name=AlsaMixer
Comment=
Exec=xterm -e alsamixer
Icon=alsamixer
Path=
Terminal=false
StartupNotify=false
Categories=AudioVideo;Application
