[Desktop Entry]
Version=1.0
Type=Application
Name=Browse
Comment=
Exec=xdg-open http://
Icon=web-browser
Terminal=false
StartupNotify=false
Categories=Network;
