[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/PicDrop.desktop]
row=1
col=8

[/root/Desktop/mtpaint.desktop]
row=0
col=4

[/root/Desktop/conkytoggle.desktop]
row=0
col=8

[/root/Desktop/gnome-mplayer.desktop]
row=0
col=3

[/root/Desktop/Puppy Linux Discussion Forum __ View topic - Light-Debian-Core-Live-CD-Wheezy + Porteus-Wheezy.desktop]
row=1
col=5

[/root/Desktop/synaptic.desktop]
row=0
col=2

[/root/Desktop/DogRadio.desktop]
row=1
col=2

[/root/Desktop/gtk-youtube-viewer.desktop]
row=1
col=6

[/root/Desktop/firefox.desktop]
row=1
col=4

[/root/Desktop/Create Savefile.desktop]
row=0
col=5

[/root/Desktop/Remaster-porteus-wheezy.desktop]
row=0
col=6

[/root/Desktop/DebianDog-Installer.desktop]
row=0
col=7

[/root/Desktop/leafpad.desktop]
row=1
col=3

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=7

[12e1e33f-47a6-4979-b13a-404e60f746b9]
row=6
col=0

[FAB49ED8B49E96AB]
row=2
col=0

[cd00f1f7-eb7f-41a1-8e89-607e9d93ea72]
row=3
col=0

[435ca105-39cb-496b-a789-70bd2ecee7e2]
row=5
col=0

[ff05148e-563c-4a97-828b-e10f7b4b255f]
row=7
col=0

[b50b554c-4452-4ff7-8d19-60271c1fd5b4]
row=4
col=0

[/]
row=1
col=0

[/root]
row=0
col=0

