[Desktop Entry]
Name=Toggle Show Desktop
Exec=xdotool key Alt+d
Icon=/usr/share/pixmaps/user-desktop.png
Terminal=false
Type=Application
NoDisplay=true
