[Desktop Entry]
Type=Link
Name=GNOME MPlayer
Icon=/usr/share/icons/hicolor/48x48/apps/gnome-mplayer.png
URL=/usr/share/applications/gnome-mplayer.desktop
